
.header {
  height: 95vh;

  /* *New thing */
  background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(../img/hero.jpg);

  background-size: cover;
  background-position: top;

  /* *New thing */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 60px;
    left: 60px;
  }

  &__logo {
    height: 35px;
  }

  &__text-box {
    position: absolute;
    top: 47%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

}